.sec2imgs{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.sec2imgs img{
    height: 420px;
}

@media only screen and (max-width: 600px) {
    .sec2imgs {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-direction: row; /* Stack the images vertically on small devices */
    }
    .sec2imgs img {
        height: 150px;
        width: 160px; /* Adjust the height to maintain aspect ratio */
        max-width: 100%; /* Make sure the image doesn't overflow the container */
    }
}
