.sec2imgs{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.sec2imgs img{
    height: 420px;
}

@media only screen and (max-width: 600px) {
    .sec2imgs {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .sec2imgs img {
        height: 150px;
        width: 200px;
        max-width: 100%;
    }
}
