.nav{
    background-color: black;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.right{
    color: #ffff;
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 10px;
    font-weight: 500;
}
.logo_img{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 20%;
}
.logo_img img{
    border-radius: 50%;
    height: 60px;
}
.left img{
    height: 50px;
}
