.nav{
    background-color: #171516;
    position: fixed;
    width: 1280px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    font-weight: 500;
    color: white;
    cursor: pointer;
}
#iconsAndText img{
    height: 30px;
    margin: 10px;
}
.right{
    cursor: pointer;
    color: #ffff;
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 10px;
    font-weight: 500;
}
.logo_img{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 20%;
}
.logo_img img{
   height: 60px;
}
.left img{
    height: 50px;
}

@media screen and (max-width: 480px) {
    .right{
        display: none;
    }
}
