.Our_Philosopny{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding-bottom: 30px;
}
#Hline{
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    height: 70px;
    font-size: 40px;
}
#Hline span{
    color: #00f381;
}
.top_img{
    padding: 45px;
    display: flex;
    gap: 85px;
}
.bottom_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    gap: 85px;
    text-align: center;
}
